:root {
    color: #1f2a37;
    background-color: #f6f5f0;
}

* {
    box-sizing: border-box;
}

html,
body,
#root,
#app {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #1f2a37;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background: #f6f5f0;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    text-align: left;
}
